#cart-summary{
    height:100vh;
    color:#fff;
}
#proceed-btn{
    border:none;
    outline:none;
    padding:12px 20px;
    border-radius:25px;
    color:red;
    background:white;
    transition: all 0.3s ease-in-out;
    font-weight: bold;
}