.add-event b{
    font-weight: 700;
}
#mainPanel{ 
    height:100vh;
    width:100%;   
}
.form-event{
    background-color:aliceblue;
}
.brand-logo{
    width:200px;
}
.form-event{
    padding:30px 30px 30px 16px;
}
.add-event{
    border-radius:15px;
}
#title{
    font-weight: 700;
}
span{
    color:red;
}
#btn-breakfast, #btn-lunch, #btn-dinner{
    border: transparent;
}
#input-file {
    display: none;
}

#file-label {
    padding: 12px 20px;
    border-radius: 25px;
    color: black;
    cursor: pointer;
    border: 2px solid darkgray;
}

#file-label:hover {
    color: #fff;
    background-color:red;
    transition: all 0.3s ease-in-out;
}